:root {
  /* --darkPrimaryColor: #032055; */
  --darkPrimaryColor: #000;
  --darkSecondaryColor: #191919;
  --darkTexColor: #fff;
  --footer-background-light: #f6f8fb;
  --footer-background-dark: #191919;
  --lightBgColor: #f5f5f7;
  --whiteColor: #fff;
}

.light .details-banner:before {
  position: absolute;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 18, 50, 0.134891) 0%, #ffffff 90%);
  /* background: -webkit-linear-gradient(180deg, rgba(0, 18, 50, 0.134891) 0%, #141414 70%); */
}



.dark .details-banner:before {
  position: absolute;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 18, 50, 0.134891) 0%, #191919 90%);
  /* background: -webkit-linear-gradient(180deg, rgba(0, 18, 50, 0.134891) 0%, #141414 70%); */
}




.dark {
  background-color: var(--darkPrimaryColor) !important;
  color: #fff;
}


.light {
  background-color: var(--lightBgColor) !important;
  color: #000000;
}


.light .bg-white , .light .home{
  background-color: var(--whiteColor) !important;
}

.dark .bg-white, .dark .home--hero {
  background-color: #000000 !important;
}

.dark .btn-active-light-primary.active {
  background: none !important;
}

.dark .btn-active-light-primary.active  .form-check-input:checked {
  background-color: #faab00;
}

.dark .btn-active-light-primary.active:hover {
  background: none !important;
}

.dark .card {
  background-color: #191919 !important;
  border-color: #191919 !important;
}

.light header {
  background-color: #022359 !important;
  color: #fff;
}

.dark .form-control.form-control-solid {
  background-color: #191919 !important;
  border-color: #404144 !important;
  color: #fff !important;
  transition: color .2s ease !important;
}



.dark .text-theme {
  color: #fff !important;
}


.light .text-theme {
  color: #000 !important;
}





/* 
 */





 .checkout-widget.checkout-card .notice a {
  color: #7c84ff;
}
.checkout-widget .payment-option li a {
  width: 90px;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  text-align: center;
  padding: 20px 10px 18px;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.section-header-1, .section-header-2, .section-header-2 .tab-menu, .footer-top, .footer-bottom-area, .footer-bottom .links, .social-icons, .header-wrapper, .details-banner-content .social-and-duration, .details-banner-content .social-and-duration .duration-area, .details-banner-content .social-share, .book-wrapper, .book-wrapper .left-side, .book-wrapper .left-side .item .item-header, .book-wrapper .left-side .item .item-header .thumb, .widget-1.widget-facility ul li a, .widget-1 .widget-header, .widget-1.widget-check .form-group, .widget-1.widget-tags ul, .booking-summery ul li .subtitle, .booking-summery ul li .info, .proceed-area .subtitle, .widget-tags ul, .widget-categories ul li a, .widget-post .widget-slider .item .content .meta-post, .widget-post .slider-nav, .movie-rating-percent, .movie-rating-percent li, .movie-rating-percent li .thumb, .movie-list, .movie-list .movie-content .movie-tags, .movie-list .movie-content .book-area .book-ticket, .movie-list .movie-content .book-area .book-ticket .react-item .thumb, .movie-list .movie-content .book-area .book-ticket .react-item, .movie-list .movie-content .book-area .book-ticket .react-item a, .ticket-tab-menu, .ticket-search-form, .ticket-search-form .form-group, .filter-main, .filter-main .left, .filter-main .left .item, .grid-button, .movie-details .summery-review .tab-menu, .movie-details .item .header, .movie-details .item .header .navigation, .movie-review-item, .movie-review-item .author, .seat-plan-wrapper li, .seat-plan-wrapper li .movie-name, .seat-plan-wrapper li .movie-schedule, .window-warning, .seat-area .seat-line, .seat-area .seat-line ul, .proceed-to-book, .page-title-area, .page-title-area .date-item, .grid--area .filter, .grid--area .grid-area, .grid--area .grid-item .grid-inner .grid-thumb .offer-tag, .grid--area .grid-item .grid-inner .grid-thumb .offer-remainder, .checkout-widget .payment-option, .checkout-widget .payment-option li a, .checkout-widget.checkout-card .payment-card-form, .checkout-widget.checkout-card .payment-card-form .form-group.check-group, .checkout-contact-form, .sponsor-tab .tab-menu, .sponsor-slider .sponsor-thumb, .stat-item, .countdown, .event-search-top, .event-search-top .right, .event-search-bottom, .event-search-bottom .contact-side, .event-search-bottom .contact-side .item, .ticket--area .ticket-item .hot, .event-cart, .ticket--item .hot, .speaker-wrapper, .speak-con-area, .speak-con-area .item, .phisophy-list li, .phisophy-list li .thumb, .client-section .owl-dots, .tour-content .list-tour li, .tour-content .list-tour li .thumb, .about-counter, .about-counter .counter-item .counter-content, .app-button, .counter--area, .account-area .account-form .form-group.checkgroup, .section-404, .contact-counter-item .contact-counter-content .counter-item, .contact-info, .contact-info .info-area, .contact-info .info-area .info-item, .post-item .post-content .post-header .meta-post, .post-item .post-content .entry-content, .post-item .post-content .entry-content .left, .post-item .post-content .entry-content .left .authors, .post-item.post-details .post-content, .post-item.post-details .post-content .content .tags-area, .post-item.post-details .post-content .content .tags-area .tags, .blog-author, .comment-area li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.checkout-widget .payment-option li.active a::after {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: -15px;
  right: -15px;
  background-size: cover;
}



.dark .checkout-widget .payment-option li.active a::before {
  background-color: #191919;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -20px;
  right: -20px;
}


.checkout-widget .payment-option li {
  padding: 15px;
}



.checkout-widget .payment-option li.active a {
  width: 90px;
  border-radius: 10px;
  border: 5px solid #fe0505;
  text-align: center;
  padding: 20px 10px 18px;
  height: 100%;
  justify-content: center;
}

.payment-option img{
  height: 51px !important;
}